* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  background-image: url("../IMG/LOGO SEM FUNDO.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: aliceblue;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.logo-box {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 80%;
  height: auto;
}

.menu {
  list-style: none;
}

.menu li {
  margin: 15px 0;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
  display: block;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #57d6b8;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  margin-left: 250px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  margin-top: 20px;
}

.card {
  border-radius: 5px;
  padding: 20px;
  flex: 1 1 calc(33.333% - 30px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  color: black;
  min-width: 250px;
}

.card h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.card p {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.card button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #ff1a1a;
}
